/* common styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    outline: none;
}
/* 16px = 1rem     =>     10px = 1rem*/

html {
    /* 10px / 16px = .625*100 */
    font-size: 62.5%;
}

à¸´body {
    background: #f0f8fd;
}
/* end of common styles */

/* main page */
.main-page{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr min-content;
}

/* left */
.left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-content div{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 3rem;
}

.left-content i {
    font-size: 2rem;
    margin-right: 1rem;
}

.left-content-heading {
    font-size: 2rem;
}
/* end of left */

/* right */
.right {
    grid-template-columns: 2 / -1;
    grid-template-rows: 1 / 2;
    position: relative;
}

.right-content-form {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    position: relative;
}

.right-content-form div {
    position: relative;
}
.right-content-form label {
    position: absolute;
    top: 3.5rem;
    left: 0;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(161, 161, 161);
}

.right-content-form label a {
    text-decoration: none;
    color: rgb(161, 161, 161);
}

.right-content-form label a:hover {
    color: rgb(134, 134, 134);
    text-decoration: underline;
}

.right-content-form input {
    width: 20rem;
    height: 3rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    padding: 0 1rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.4rem;
    background-color: #fff;
    transition: background-color .3s;


}

.right-content-form input:focus {
    background-color: #d9ebf7;
    outline: none;
}


.btn-top {
    width: 8rem;
    background-color: #fff;
    border: solid .1rem #1aa1f5;
    border-radius: 3rem;
    color: #1aa1f5;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .3s;
}

.btn-top:hover {
    background-color: #d9ebf7;

}

.middle-content{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.middle-content i {
    font-size: 4rem;
    color: #1aa1f5;
    margin-bottom: 2rem;
}
 
.middle-content h1 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    line-height: 4rem;
}

.middle-content h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.middle-content button {
    margin: .8rem 0;
    padding: .5rem;
    border: 0.1rem solid #1aa1f5;
    border-radius: 4rem; 
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

.log-in {
    background-color: #fff;
    color: #1aa1f5;
    transition: background-color .3s;
    
}

.log-in:hover {
    background-color: #d9ebf7
}

.sign-up {
    background-color: #1aa1f5;
    color: #fff;
    transition: background-color .3s;

}

.sign-up:hover {
    background-color: #068cdf;
}
/* end of right */

/* footer */
.main-page-footer {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    background-color: #f5f4f4;
    padding: 1.5rem;
    border-top: .1rem solid #ddd;
}

.main-page-footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.main-page-footer a {
    font-size: 1.2rem;
    margin: 0 2rem;
    text-decoration: none;
    color: #444;
    font-weight: 400;
}

.main-page-footer a:hover {
    text-decoration: underline;
}
/* end of footer */
/* end of main page */


/* login page */
.login-page {
    width: 100;
    height: 100vh;
    display: none;
    grid-template-columns: minmax(5rem, 1fr) 2fr minmax(5rem, 1fr);
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-row-gap: 1.5rem;
}

/* login page nav */
.login-page-nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: #fff;
    padding: 2.5rem 0;
    box-shadow: 0 0 0.5rem rgb(0, 0, 0, 0.2);
}

.login-page-nav ul{
    width: 100rem;
    margin: auto;
    display: flex;
    align-items: flex-end;
    list-style: none
}

.login-page-nav li {
    margin: 0 1rem;
    position: relative;
}

.login-page-nav li::after{ 
 content: "";
 width: 100%;
 height: .4rem;
 background-color: #1aa1f5;
 position: absolute;
 left: 0;
 bottom: -1.5rem;
 opacity: 0;
 transition: opacity .3s;
}

.login-page-nav li:hover::after{
    opacity: 1;
}


.login-page-nav li:last-child{
    margin-left: auto;
}

.login-page-nav a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #555;
    transition: color .3s;
}

.login-page-nav li:hover a {
    color: #1aa1f5;
}

.login-page-nav i {
    color: #1aa1f5;
    font-size: 2rem;
}
/* end of login  page nav*/

/* login */
.login {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #fff;
    width: 100rem;
    display: grid;
    grid-template-columns: 10rem 8fr;
    grid-template-rows: 2fr 1fr;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.3);
}

.login-content {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    padding: 5rem 0 1rem 0;
}

.login-content h2 {
    font-size: 2.4rem;
    margin-bottom: 3rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input:not(.login-form-checkbox) {
    width: 30rem;
    height: 3.5rem;
    margin-bottom: 1rem;
    border: .1rem solid #ddd;
    border-radius: .5rem;
    padding-left: 1rem;
    font-size: 1.4rem;
    transition: background-color .3s;
}

.login-form input:focus {
    background-color: #d9ebf7;
}

.login-form div {
    margin-top: 2rem;
}

.login-form button {
    padding: 1rem 1.5rem;
    background-color: #1aa1f5;
    color: #fff;
    border: .1rem solid #1aa1f5;
    border-radius: 4rem;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 1rem;
    cursor: pointer;
}

.login-form label {
    font-size: 1.4rem;
    font-weight: 400;
    margin-right: 1rem;
}

.login-form a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #1aa1f5;
}

.login-footer {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    background-color: #edf3f7;
    padding-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.login-footer p {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0.5rem 0;

}

.login-footer a {
    text-decoration: none;
    color: #1aa1f5;
}
/* end of login */

/* login modal */
.login-modal{
    position: fixed;
    top: 10.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 70rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    display: none;
}

.login-modal i {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.3rem;
    color: #868383;
    cursor: pointer;
}

.login-modal p {
    font-size: 1.4rem;
    margin: 1.3rem 1rem 0 1rem;
    color: #868383;

}
/* end of login modal */

/* end of login page */

/* feeds page */
.feeds-page {
    width: 100%;
    height: 100vh;
    display: none;
}

/* feed nav */
.feeds-nav {
    position: fixed;
    width: 100%;
    height: 6.5rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 .7rem rgba(0, 0, 0, 0.3);
}

.icons {
    display: flex;
    align-items: center;
}

.icons a {
    text-decoration: none;
    margin-right: 7rem;
    font-size: 2.2rem;
    color: #9e9a9a;
}

.icons .active {
    color: #1aa1f5;
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
   
}

.search-bar-input {
    width: 35rem;
    height: 3rem;
    border: 0.1rem solid #d6e1e9;
    border-radius: 3rem;
    background-color: #d6e1e9;
    padding-left: 5rem;
    transition: all .3s;
}

.search-bar-input:focus {
    background-color: #fff;
    border-color: #1aa1f5;
}

.search-bar i {
    position: absolute;
    font-size: 1.6rem;
    color: #9e9a9a;
    left: 1.5rem;
}

.user {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-img-wrapper {
    width: 4rem;
    height: 4rem;
}

.user-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-link {
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.6rem;
    color: #444;
}

.user i {
    font-size: 1.1rem;
    color: #444;
}
/* end of feed nav */

/* feeds-content */
.feeds-content {
    display: grid;
    grid-template-columns: minmax(5rem, 1fr) 60rem 40rem minmax(5rem, 1fr);
    grid-template-rows:  repeat(2, min-content);
    padding-top: 6.5rem;
}

.feeds-header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #fff;
    margin-top: 1.5rem;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .1rem solid #eee;
    padding: 1.3rem;
}

.header-top h4 {
    font-size: 2rem;
}

.header-top i {
    font-size: 1.6rem;
    color: #1aa1f5;
}

.header-post {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 0.1rem solid #eee;
}

.header-img-wrapper {
    width: 5rem;
    height: 5rem;
    margin-right: 1.5rem;
}

.header-img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.header-post input {
    width: 35rem;
    height: 3rem;
    border: 0.1rem solid #d6e1e9;
    border-radius: 3rem;
    background-color: #d6e1e9;
    padding: 0.3rem 1.5rem;
}

.header-post i {
    font-size: 2.2rem;
    color: #1aa1f5;
    margin: 1rem;
}

.posts {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    background-color: #fff;
}

.post {
    display: flex;
    padding: 1rem;
    border-bottom: 0.1rem solid #eee;
}

.user-avatar {
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
    margin-right: 1.5rem;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.post-user-info {
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

.post-user-info h4 {
    font-size: 1.4rem;
    margin-right: 0.5rem;
}

.post-user-info i {
    font-size: 1.1rem;
    color: #1aa1f5;
    margin-right: 1rem;
}

.post-user-info span {
    font-size: 1.2rem;
    color: #555;
}

.post-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.post-img {
    width: 48rem;
    height: 30rem;
}

.post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
}

.post-icons {
    margin-top: 1rem;
}

.post-icons i {
    font-size: 1.4rem;
    color: #6e6e6e;
    margin-right: 9rem;
}

.follow {
    position: fixed;
    top: 8rem;
    left: 57%;
    background-color: #fff;
    width: 35rem;
}

.follow-heading {
    padding: 1rem;
    font-size: 1.6rem;
    border-bottom: 0.1rem solid #eee;
}

.follow-user {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 0.1rem solid #eee;
}

.follow-user-img {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
}

.follow-user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.follow-user h4, 
.follow-user p {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.follow-btn {
    margin-left: auto;
    width: 9rem;
    background: #fff;
    color: #1aa1f5;
    padding: 0.7rem 0.5rem;
    border: 0.1rem solid #1aa1f5;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}

.follow-link {
    margin: 2rem 1rem;
}

.follow-link a{
    font-size: 1.4rem;
    text-decoration: none;
    color: #1aa1f5;
}

.follow-footer {
    /* background-color: #f0f8fd; */
}

.follow-footer ul{
    list-style: none;
    display: flex;
    padding: 2rem 0;
}

.follow-footer a {
    text-decoration: none;
    color: #868383;
    font-size: 1.1rem;
    margin-right: 1rem;
}

.post-btn {
    position: fixed;
    bottom: 2rem;
    left: 69%;
    width: 12rem;
    padding: 1.5rem 1rem;
    background-color: #1aa1f5;
    color: #fff;
    font-size: 1.4rem;
    border: #1aa1f5 0.1rem solid;
    border-radius: 3rem;
    cursor: pointer;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
    transition: background-color .3s;
}

.post-btn:hover {
    background-color: #068cdf
}

/* end of feeds page */